node_modules

/docs-build
/docs-public/build
/docs-public/images
/docs-public/pdf
/docs-server-build
.env

*.local.*
/coverage

.DS_Store

documentation
/scripts/crd-builder/specs
/docs-public/documentation